<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoproject.repository.UserRepository"> <!-- Mapper의 FQCN을 namespace으로 한다. -->
    <insert id="insertUser" parameterType="UserEntity" useGeneratedKeys="true" keyProperty="userSeq">
        INSERT INTO demo_project.TB_USER (id, pwd,role)
        VALUES (#{id}, #{pwd},#{role})
    </insert>
    <delete id="deleteUser">
        DELETE
        FROM demo_project.tb_user
        WHERE userSeq = #{userSeq}
    </delete>
    <select id="findById" resultType="com.example.demoproject.entity.UserEntity">
        SELECT userSeq,
               id,
               pwd,
               role,
               now() as createAt
        FROM demo_project.tb_user
        where userSeq = #{userSeq}
    </select>
    <select id="findByIdWhenLogin" resultType="com.example.demoproject.entity.UserEntity">
        SELECT userSeq,
               id,
               pwd,
               role,
               now() as createAt
        FROM demo_project.tb_user
        where id = #{id}
    </select>
</mapper>