<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="fConfig">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/validateAjax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--    <th:block layout:fragment="fCss"></th:block>-->
<!--    <th:block layout:fragment="fScript"></th:block>-->
</th:block>
</html>