* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.chatWrap {
    height: 500px;
    width: 300px;
    overflow: scroll;
    background-color: #ffffff;
}

.chatWrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

.chatWrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
}

.chatWrap .chat .icon i {
    position: absolute;
    top: 3px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
}

.chatWrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.chatWrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.chatWrap .other .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.chatWrap .otner .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.chatWrap .me {
    flex-direction: row-reverse;
}

.chatWrap .me .textbox {
    margin-right: 20px;
    background-color: #7fbeff;
}

.chatWrap .me .textbox::before {
    right: -15px;
    content: "▶";
    color: #7fbeff;
}