<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragment/fragment_layout}">
<th:block layout:fragment="content">
    <div>
        <div>
            <h1>[[${room.name}]]</h1>
        </div>
        <div>
            <div id="msgArea" style="overflow: scroll; width: 800px; height: 400px"></div>
            <div>
                <div>
                    <input type="text" id="msg">
                        <button type="button" id="button-send">전송</button>
                        <button type="button" id="button-disconnect">나가기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {

            var roomName = [[${room.name}]];
            var roomId = [[${room.roomId}]];
            var username = [[${#authentication.principal.username}]];
            var header = {"jwt": [[${jwt}]]};
            console.log(roomName + ", " + roomId + ", " + username);

            $.ajax({
                cache: false,
                url: '/chat/join/'+roomId,
                processData: false,
                contentType: false,
                type: 'GET',
                success: function (data) {
                    if (data !== null) {
                    data.forEach(function (message) {
                        console.log(message)
                    if (message.writer === username) {
                        str = "<div>";
                        str += "<div>";
                        str += "<b>" + message.writer + " : " + message.message + "</b>";
                        str += "</div></div>";
                    } else if (message.writer === 'SYSTEM') {
                        str = "<div>";
                        str += "<div>";
                        str += "<b style='color: red; font-size: large; text-align: center'>\<" + message.writer + "\> " + message.message + "</b>";
                        str += "</div></div>";
                    } else {
                        str = "<div style='text-align: right'>";
                        str += "<div>";
                        str += "<b>" + message.writer + " : " + message.message + "</b>";
                        str += "</div></div>";
                    }
                    $("#msgArea").append(str);
                    });
                    }
                }
            });

            var sockJs = new SockJS("/stomp/chat");
            //1. SockJS를 내부에 들고있는 stomp를 내어줌
            var stomp = Stomp.over(sockJs);

            //2. connection이 맺어지면 실행
            stomp.connect(header, function () {
                console.log("STOMP Connection")

                //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                    var content = JSON.parse(chat.body);
                    var writer = content.writer;
                    var message = content.message;
                    var str = '';

                    if (writer === username) {
                        str = "<div>";
                        str += "<div>";
                        str += "<b>" + writer + " : " + message + "</b>";
                        str += "</div></div>";
                    } else if (writer === 'SYSTEM') {
                        str = "<div>";
                        str += "<div>";
                        str += "<b style='color: red; font-size: large; text-align: center'>\<" + writer + "\> " + message + "</b>";
                        str += "</div></div>";
                    } else {
                    str = "<div style='text-align: right'>";
                    str += "<div>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    }
                    $("#msgArea").append(str);
                });

                //3. send(path, header, message)로 메세지를 보낼 수 있음
                stomp.send('/pub/chat/join', header, JSON.stringify({
                    roomId: roomId,
                    writer: username
                }))
            });

            $("#button-send").on("click", function () {
                var msg = document.getElementById("msg");

                console.log(username + ":" + msg.value);
                stomp.send('/pub/chat/message', header, JSON.stringify({
                    roomId: roomId,
                    message: msg.value,
                    writer: username
                }));
                msg.value = '';
            });
           $("#button-disconnect").on("click",function (){
               console.log(username + " disconnect");
               stomp.send('/pub/chat/out', header, JSON.stringify({
                   roomId: roomId,
                   writer: username}));
               stomp.disconnect();
               location.replace('/chat');
            });
        });
    </script>
</th:block>
</html>
