<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragment/fragment_layout}">
<th:block layout:fragment="content">
    <link th:href="@{/css/chatRoom.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/77ad8525ff.js" crossorigin="anonymous"></script>
    <div>
        <div>
            <h1>[[${room.name}]]</h1>
        </div>
        <div style="  height: 530px;width: 300px;">
            <div id="chatWrap" class="chatWrap"></div>
            <div>
                <div style="height: 30px; width: 300px">
                    <input style="height: 30px; width: 180px; margin: 5px" type="text" id="msg">
                    <button style="height: 30px; width: 45px; margin: 2px" type="button" id="button-send">전송</button>
                    <button style="height: 30px; width: 45px; margin: 2px" type="button" id="button-disconnect">나가기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {

            var roomName = [[${room.name}]];
            var roomId = [[${room.roomId}]];
            var username = [[${#authentication.principal.username}]];
            var header = {"jwt": [[${jwt}]]};
            console.log(roomName + ", " + roomId + ", " + username);

            $.ajax({
                cache: false,
                url: '/chat/join/' + roomId,
                processData: false,
                contentType: false,
                type: 'GET',
                success: function (data) {
                    if (data !== null) {
                        data.forEach(function (message) {
                            console.log(message)
                            if (message.writer === username) {
                                str = "<div class='chat me'>";
                                str += "<div class='textbox'>" + message.message + "</div>";
                                str += "</div>";
                            } else if (message.writer === 'SYSTEM') {
                                str = "<div class='chat'>";
                                str += "<div class='textbox' style='text-align: center'>";
                                str += "<b style='color: red; font-size: large;'>\<" + message.writer + "\> " + message.message + "</b>";
                                str += "</div></div>";
                            } else {
                                str = "<div class='chat other'>";
                                str += "<div class='icon'>";
                                str += "<i class='fa-solid fa-user'></i></div>";
                                str += "<div class='textbox'>" + message.writer + " : " + message.message + "</div>";
                            }
                            $("#chatWrap").append(str);
                        });
                    }
                }
            });

            var sockJs = new SockJS("/stomp/chat");
            //1. SockJS를 내부에 들고있는 stomp를 내어줌
            var stomp = Stomp.over(sockJs);

            //2. connection이 맺어지면 실행
            stomp.connect(header, function () {
                console.log("STOMP Connection")

                //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                    var content = JSON.parse(chat.body);
                    var writer = content.writer;
                    var message = content.message;
                    var str = '';

                    if (writer === username) {
                        str = "<div class='chat me'>";
                        str += "<div class='textbox'>" + message + "</div>";
                        str += "</div>";
                    } else if (writer === 'SYSTEM') {
                        str = "<div class='chat'>";
                        str += "<div class='textbox' style='text-align: center'>";
                        str += "<b style='color: red; font-size: large;'>\<" + writer + "\> " + message + "</b>";
                        str += "</div></div>";
                    } else {
                        str = "<div class='chat other'>";
                        str += "<div class='icon'>";
                        str += "<i class='fa-solid fa-user'></i></div>";
                        str += "<div class='textbox'>" + writer + " : " + message + "</div>";
                        str += "</div>";
                    }
                    $("#chatWrap").append(str);
                });

                //3. send(path, header, message)로 메세지를 보낼 수 있음
                stomp.send('/pub/chat/join', header, JSON.stringify({
                    roomId: roomId,
                    writer: username
                }))
            });

            $("#button-send").on("click", function () {
                sendMsg();
            });

            $("#msg").keydown(function (key) {
                if (key.keyCode === 13) {
                    sendMsg();
                }
            });

            $("#button-disconnect").on("click", function () {
                console.log(username + " disconnect");
                stomp.send('/pub/chat/out', header, JSON.stringify({
                    roomId: roomId,
                    writer: username
                }));
                stomp.disconnect();
                location.replace('/chat');
            });

            function sendMsg() {
                var msg = document.getElementById("msg");

                console.log(username + ":" + msg.value);
                stomp.send('/pub/chat/message', header, JSON.stringify({
                    roomId: roomId,
                    message: msg.value,
                    writer: username
                }));
                msg.value = '';
            }
        });
    </script>
</th:block>
</html>
