<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragment/fragment_layout}">
<th:block layout:fragment="content">
<form name="loginForm" id="loginForm">
    <label for="loginId">ID : </label><input type="text" id="loginId" name="id" autofocus="autofocus"/> <br/>
    <label for="password">PWD : </label><input id="password" name="pwd" type="password"/> <br/>
    <input type="button" value="Login" name="login" id="login"/>
    <button type="button" value="Registry" name="registry" id="registry">Registry</button>
</form>
<script>
    $(document).ready(function () {
        $("#registry").click(function () {
            location.href = "/user/regist";
        });

        $("#login").click(function () {
            let formData = $("#loginForm");
            let form = new FormData(formData[0]);
            validateAjax('/user/login/process', '/v1/test', form);
            // $.ajax({
            //     url: '/user/login/process',
            //     method: 'POST',
            //     data: form,
            //     processData: false,
            //     contentType: false,
            //     dataType : 'json',
            //     success: function (data){
            //         if (data.resultCode === 200){
            //         console.log("login success!")
            //         console.log(data);
            //         // location.href = "/v1/test"
            //         }else {
            //             alert("login fail!");
            //             alert('status : '+data.resultCode+', message : '+data.resultMessage);
            //         }
            //     },
            //     error: function (data){
            //             alert("알 수 없는 오류 발생")
            //     }
            // })
        })
    })
</script>
</th:block>
</html>
