<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/regist" method="post">
    <input type="text" id="id" name="id" autofocus="autofocus" /> <br />
    <input type="password" id="pwd" name="pwd" /> <br />
    <select name="role">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
    </select><br />
    <input type="submit" name="regist" value="regist" />
</form>
<!--<script>-->
<!--    $(document).ready(function (){-->
<!--        $("#regist").click(function () {-->

<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>