<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
</head>
<body>
<h1>TEST</h1>
<b>Authenticated Name</b>
<div sec:authentication="name"></div>
<button name="logout" id="logout">logout</button>
<script>
    $(document).ready(function () {
            $("#logout").click(function () {
                location.href = "/user/logout";
            })
    })
</script>
</body>
</html>