<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragment/fragment_layout}">
<th:block layout:fragment="content">
<b>Authenticated Name</b>
<div sec:authorize="isAuthenticated()"><b>Hello Dood!</b> your Id is <span style="color: cornflowerblue" sec:authentication="name"></span></div>
<button sec:authorize="isAuthenticated()" name="logout" id="logout">logout</button>
<script>
    $(document).ready(function () {
        $("#logout").click(function () {
            location.href = "/user/logout";
        });
    });
</script>
</th:block>
</html>